name: CD

on:
  release:
    types:
      - published

jobs:
  cd:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Set up pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Build UI
        working-directory: ui
        run: |
          pnpm install
          pnpm build

      - name: Package Plugin
        run: ./gradlew jar

      - name: Set JAR filename with version
        id: jar-info
        run: |
          VERSION=${{ github.event.release.tag_name }}
          JAR_NAME="plugin-typst-${VERSION}.jar"
          echo "JAR_NAME=$JAR_NAME" >> $GITHUB_OUTPUT

      - name: Rename JAR file
        run: |
          ORIGINAL_JAR=$(find ./build/libs -name "*.jar" -type f | head -n 1)
          cp "$ORIGINAL_JAR" "./build/libs/${{ steps.jar-info.outputs.JAR_NAME }}"

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./build/libs/${{ steps.jar-info.outputs.JAR_NAME }}
          asset_name: ${{ steps.jar-info.outputs.JAR_NAME }}
          asset_content_type: application/java-archive
